.vide_bg {
    width: 100%;
    background: linear-gradient(to right, #023D78, #000845);
}

.zh_news_video {
    width: 100%;
    height: auto;
}

.news_content {
    width: 100%;
    height: auto;
    padding: 1% 0;
    background: linear-gradient(to right, #023D78, #000845);
}

.news_list {
    width: 100%;
}

.news_list .news_item {
    width: 85.9%;
    border-radius: 2px;
    background: #2D4B7E;
    border: 1px solid #21C8FF;
    padding: 17px;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}

.more_message {
    width: 6%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}
.date_box,.more_icon {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.date_box {
    background: #4591AF;
}

.more_icon {
    background: #1D6987;
}

.date_box p {
    width: 100%;
    text-align: center;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 24px;
}

.date_box span {
    display: block;
    width: 100%;
    text-align: center;
    height: 22px;
    line-height: 22px;
    color: #fff;
    font-size: 14px;
}

.more_icon img {
    width: 47px;
    height: 47px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.more_icon p {
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.news_img {
    width: 23.8%;
    margin-right: 2.6%;
}

.news_img img {
    width: 100%;
    height: auto;
}

.news_txt_box {
    width: 64.3%;
    position: relative;
}

.news_txt_box h1 {
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 15px;
}

.news_txt_box p {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
}

.time_box {
    width: 19%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: -17%;
    display: none;
}

.time_box .time_icon {
    width: 1.2%;
    height: auto;
    margin-right: 0.7%;
}

.time_box span {
    height: 24px;
    line-height: 24px;
    font-size: 20px;
    color: #fff;
    display: block;
}

@media screen and (max-width: 1200px) {
    .vide_bg {
        width: 100%;
        background: linear-gradient(to right, #023D78, #000845);
    }

    .zh_news_video {
        width: 100%;
        height: auto;
    }

    .news_content {
        width: 100%;
        height: auto;
        padding: 20px 0;
        background: linear-gradient(to right, #023D78, #000845);
    }

    .news_list {
        width: 100%;
    }

    .news_list .news_item {
        width: 90%;
        border-radius: 2px;
        background: #2D4B7E;
        border: 1px solid #21C8FF;
        padding: 17px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 20px;
        position: relative;
    }

    .more_message {
        display: none;
    }

    .news_img {
        width: 100%;
    }

    .news_img img {
        width: 100%;
        height: auto;
    }

    .news_txt_box {
        width: 100%;
        height: auto;
        position: relative;
    }

    .news_txt_box h1 {
        width: 100%;
        height: auto;
        line-height: 36px;
        font-size: 16px;
        color: #fff;
        margin: 0;
    }

    .news_txt_box p {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.8);
    }

    .time_box {
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        position: static;
        bottom: 0;
        right: 0;
    }

    .time_box .time_icon {
        width: 1.2%;
        height: auto;
        margin-right: 0.7%;
    }

    .time_box span {
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        color: #fff;
        display: block;
    }
}